.github
node_modules
dist
build
coverage
.next
*.lock
pnpm-lock.yaml
*.log
.env
.env.local

packages/backend/.env.template
packages/backend/.env.test
packages/backend/coverage
packages/backend/prisma/migrations/*
packages/backend/prisma/dbml/*

packages/frontend/src/vite-env.d.ts
packages/frontend/dist
packages/frontend/src/assets
